 <div class="header clearfix">
        <nav>
          <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "Home",   root_path %></li>
             <li><%= link_to "Help",   help_path %></li>
             <li><%= link_to "About",  about_path %></li>           
             <li><%= link_to "Contact", contact_path %></li>

          </ul>
        </nav>
        <h3 class="text-muted"><%= link_to "292's blog", root_path %></h3>
      </div>